.header-box {
  height: 4rem;
  margin: 1rem 2rem 0rem 2rem;
  width: -webkit-fill-available;
  padding: 0rem 3rem 0rem 3rem;
  -webkit-box-shadow: 3px 9px 34px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 3px 9px 34px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 9px 34px -1px rgba(0, 0, 0, 0.1);

  .webName {
    font-weight: 700;
    font-size: 1.5rem;
  }

  .first-line {
    margin-top: 1rem;
    background-color: rgb(181, 225, 255);
    width: fit-content;
    font-weight: bold;
    margin-bottom: 1rem;
    -webkit-box-shadow: 3px 9px 34px -1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 3px 9px 34px -1px rgba(0, 0, 0, 0.05);
    box-shadow: 3px 9px 34px -1px rgba(0, 0, 0, 0.05);
    p {
      padding: 0.8rem;
      color: $secondary-color;
    }
  }
}

.sideBar {
  padding: 2rem 1rem 2rem 1rem;
  transition: 1s all;
}

.icon-wrapper {
  border-radius: 1rem;
  scale: 0.7;
  border-radius: 100px;

  .icon {
    color: $white;
  }
}

.work {
  color: rgb(90, 101, 245);
}
