.footer {
  padding: 1rem 3rem;

  .content {
    h3 {
      font-size: 1.2rem;
    }
  }

  .about {
    p {
      font-size: 0.8rem;
      a {
        text-decoration: underline;
      }
    }
  }
}
